body {
	margin: 0;
	padding: 0;
	background: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #D3D3D3;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	color: #F29906;
}


h1 {
	font-size: 4em;
}

h2 {
	font-size: 60px;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}




ul, ol {
}

a {
	text-decoration: none;
	color: #F29906;
}

strong {
	text-weight: bold;
	color: #F29906;
}

a:hover {
}

/* Header */

#header-wrapper {
}

#header {
	clear: both;
	width: 1000px;
	margin: 0px auto;
}

/* Logo */

#logo {
	margin: 0px;
	padding: 30px 0px;
	color: #000000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	margin: 0px;
	padding: 0px;
	text-transform: lowercase;
	font-size: 3.8em;
	color: #323030;
}

#logo h1 span {
	color: #0076BE;
}

#logo p {
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	color: #F29906;
	font-size: 20px;
}

#logo p a {
	text-transform: lowercase;
	text-decoration: underline;
	color: #0076BE;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #323030;
}

/* Menu */

#menu-wrapper {
	overflow: hidden;
	height: 56px;
	background: #F29906;
}

#menu {
	width: 1000px;
	height: 55px;
	margin: 0px auto;
	padding: 0px;
        float: center;
}

#menu ul {
	margin: 0;
	padding: 0px;
	list-style: none;
	line-height: normal;
	float: center;
}

#menu li {
	float: left;
	border-left: 1px #f28006;

	
}

#menu a {
	display: block;
	letter-spacing: 1px;
	line-height: 55px;
	padding: 0px 40px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #3B3B3B;
	border: none;
}

#menu a:hover {
	background: #f28006;
	text-decoration: none;
	color: #FFFFFF;
}


#menu .current_page_item a {
	background: #f28006;
	text-decoration: none;
	color: #3B3B3B;

}

#menu .veloitus {
	display: block;
	letter-spacing: 1px;
	line-height: 55px;
	padding: 0px 40px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #3B3B3B;
	border: none;
	float: right;
}

#menu .teksti {
	display: block;
	letter-spacing: 1px;
	line-height: 55px;
	padding: 0px 40px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #3B3B3B;
	border: none;
}



/* Page */

#page {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 30px 0px;
	background: #000000;
}

/* Content */

#content {
	float:  left;
	width: 690px;
}

.post {
	margin-bottom: 15px;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title {
	height: 50px;
	margin-bottom: 10px;
	padding: 12px 0 0 0px;
	font-size: 39px;
	color: #f28006;
}


.post .meta {
	margin-bottom: 30px;
	padding: 5px 0px 15px 0px;
	text-align: left;
	font-weight: normal;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	height: 30px;
	padding: 30px 0px 0px 0px;
	font-size: 14px;
	font-weight: normal;
	color: #1C1C1C;
}


/* Sidebar */

#sidebar {
	float: right;
	width: 240px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	color: #D3D3D3;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 50px;
}

#sidebar li li {
	border-bottom: 1px dashed #D8D8D8;
	margin: 0px 0px;
	padding: 5px 0px;
	border-left: none;
}

#sidebar li li a {
	color: #3B3B3B;
}

#sidebar li li span {
	display: block;
	padding: 0;
	font-size: 13px;
	font-style: italic;
}

#sidebar h2 {
	padding-bottom: 20px;
	font-size: 1.8em;
	color: #0076BE;
}

#sidebar p {
	margin: 0px 0px 40px 0px;
	padding: 0px;
	text-align: justify;
	font-size: 13px;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}




/* Footer */

#footer {
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	background: #F29906;
	border-top: 5px solid #f28006;
	font-family: Arial, serif;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	color: #000000;
}

#footer a {
	color: #f28006;
}

#banner {
	width: 1000px;
	margin: 0px auto;
}

#hinnasto {
	width: 100%;
	border-collapse:collapse;
}
#hinnasto td {
	padding: 5px 5px;
	border: 1px solid #f28006;
}
#hinnasto .hinta {
	background:#f28006; 
	letter-spacing: 1px;
	font-size: 15px;
        text-align: right;
	color: #000000;
	font-weight: bold;
}

#renkaat
	width: 100%;
	border-collapse:collapse;
}
#renkaat td {
	padding: 5px 5px;
	border: 1px solid #f28006;
}
#renkaat .logot {
	background:#D3D3D3; 
	letter-spacing: 1px;
	font-size: 15px;
        text-align: center;
	color: #000000;
}
	
